# Arquivos e diretórios gerados pelo Node.js
node_modules/

# Outros arquivos e diretórios que você pode querer ignorar

# Logs
logs/
*.log

# Arquivos de compilação
*.out
*.o

# Arquivos de ambiente
.env

# Cache
.cache/
.cache/*

# Arquivos de construção
build/
dist/

# Arquivos de dependências gerados
yarn.lock
package-lock.json
.pnpm-lock.yaml
.shrinkwrap.yaml

# Arquivos gerados por IDEs e editores de texto
.vscode/
.idea/
*.sublime-*
*.swp

# Outros arquivos e diretórios que você deseja ignorar

